// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.spacing {
	padding: 10px 0;
}

.btn {
	margin-top: 15px;
}

.align {
	margin-top: 2.1%;
	font-size: 25px;
}

.align-total {
	margin-top: 2.5%;
	font-size: 30px;
}

h1 {
	text-align: center;
}

.form-size {
	width: 30%;
	margin: 0 auto;
}

#main-page-heading {
	text-align: left;
}